<div class="notification is-primary global-notification">
<p class="notice"><%= notice %></p>
</div>

<div class="notification is-danger global-notification">
<p class="alert"><%= alert %></p>
</div>

<p class="control">
 <%= link_to current_user.name, edit_user_registration_path, class: "button is-info" %>
 </p>
 <p>
 <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-info" %>
 </p>
 